<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forrest.mapper.CityInfoMapper">
	<insert id="insertCities" parameterType = "java.util.List"  useGeneratedKeys="true">
	<selectKey resultType="int" keyProperty="id" order="AFTER">
		SELECT  
        LAST_INSERT_ID()
	</selectKey>
	insert into cityinfo (name,pinyin)   
    values  
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.name},#{item.pinyin})  
    </foreach>
	</insert>
	
	<select id="selectCities"  resultType="string">
		select pinyin from cityinfo where id > 146
	</select>
</mapper>