<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forrest.mapper.CookStyleMapper">
	<insert id="insertCookStyles" parameterType="java.util.List"
		useGeneratedKeys="true">
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into styleofcook (name,categorycode)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.name},#{item.categorycode})
		</foreach>
	</insert>

	<select id="selectCookStyles" resultType="string">
		select categorycode from styleofcook where categorycode !='g34032' and categorycode != 'g2714' and categorycode != 'g34014' and categorycode != 'g1338' and
categorycode != 'g1845'
	</select>
</mapper>