<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forrest.mapper.IPMessageMapper">

	<insert id="insertIPs" parameterType="java.util.List">
		insert into proxy_ip (ip,port,type,speed)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.IPAddress},#{item.IPPort},#{item.IPType},#{item.IPSpeed})
		</foreach>
	</insert>

	<resultMap type="java.util.HashMap" id="IPMap">
		<result column="ip" property="ip" jdbcType="VARCHAR" />
		<result column="port" property="port" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectproxyip" resultMap="IPMap">
		select ip,port from
		proxy_ip
	</select>

</mapper>