<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forrest.mapper.MemberMapper">

	<insert id="insertMember" parameterType = "member">
	insert into member (userid,name,city,followers,fans,contribution_value,register_date,tags,community_level)   
    value(#{userid},#{name},#{city},#{followers},#{fans},#{contribution_value},#{register_date},#{tags},#{community_level})  
	</insert>
</mapper>