<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forrest.mapper.RestoMapper">
	<select id="selectRestoByID" parameterType="long" resultType="restaurant">
		select * from restaurant where id = #{id}
	</select>


	<insert id="insertRestos" parameterType = "java.util.List"  useGeneratedKeys="true">
	<selectKey resultType="long" keyProperty="id" order="AFTER">
		SELECT  
        LAST_INSERT_ID()
	</selectKey>
	insert into restaurant (name,statcont,commentNum,address,consumptionPerPerson,image,tele,businessHours,rid,city,source,cate)   
    values  
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.name},#{item.statcont},#{item.commentNum},#{item.address},#{item.consumptionPerPerson},
        #{item.image},#{item.tele},#{item.businessHours},#{item.rid},#{item.city},#{item.source},#{item.cate})  
    </foreach>
	</insert>


<select id="selectRestoId" resultType="java.util.List">
select id from restaurant
</select>
</mapper>